.Top-Bar {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Top-Bar-Elements {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo-Button {
    width: 15%;
    background-color: transparent;
    border: none;
}

.Logo {
    width: 100%;
    min-width: 200px;
    background-color: transparent;
    border: none;
}

.signinButton {
    background-color: transparent;
    border: none; 
    font-size: 30px;
    font-family: Sans-Serif;
    font-weight: bold;
}

.user-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    min-width: 500px;
    height: auto;
    justify-content: center;
    align-items: left;
    padding-bottom: 150px;
    border-radius: 20px;
    font-family: Sans-Serif;
}

.step {
    font-size: 20px;
    margin-top: 40px;
}

.topText {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 40px;
    font-weight: bold;
}

.midText {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 25px;
}

.formFormat {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.message {
    color: black;
    font-size: 16px;
}

.Form-Style {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 80px;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: rgb(37, 35, 32);
    color: black;
    text-align: center;
    font-size: 25px;
    background-color: white;
}

.NextButton {
    margin-top: 30px;
    font-size: 30px;
    width: 100%;
    height: 80px;
    border-radius: 2px;
    background-color: red;
    color: white;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 10px;
}